.header
{
    margin: 50px 0;
}

.par
{
    margin-left: 75px;
    margin-right: 75px;
    font-size: 20px;
}

.h
{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 24px;
}

.section
{
    background-color: #e8e8e8;
}

.form
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input 
{
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 50px;
    width: 800px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.btn
{
    background-color: #ffcb08;
    color: black;
    width: 200px;
    height: 50px;
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.btn:hover
{
    transform: scale(1.15);
    background-color: gray;
    color: white;
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .par {
        font-size: 20px;
    }
    .input {
        width: 300px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .par {
        font-size: 18px;
    }
    .input {
        width: 280px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .par {
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .input {
        width: 260px;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .par {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .form {
        grid-template-columns: 1fr;
    }
    .input {
        width: 80%;
    }
    .btn {
        width: 80%;
        margin-left: 0px;
    }
}
