.footer
{
    display: flex;
    padding: 40px 75px;
    background-color: #1e212c;
}

.footerContent
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    width: 200px;
    height: auto;
}

.subscribeContainer
{
    text-align: right;
    margin-top: 0;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    
}

.subscriptionWrapper
{
    width: 500px;
}

.subscribeContainer h2
{
    margin-right: 180px;
    margin-bottom: 10px;
    margin-top: 0;
}

.formContainer
{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.emailInput 
{
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    flex: 1;
    margin-right: 10px; 
}

.btn
{
    background-color: #ffcb08;
    color: black;
    width: 130px;
    height: 40px;
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
}
